.nav{
    width: 100%;
    position: fixed;
}

.nav-container{
    background: #ffb503b8;
    /*background: #FFB503;*/
    box-shadow: 0px 3px 5px 0px rgb(51, 50, 51, 0.75);
    padding: 1rem 0rem;
}

.nav-container-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 7.5rem;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-imagen{
    width: auto;
    height: 80px;
    max-height: 100%;
    /*box-shadow: 0px 0px 8px 1px rgb(0, 0, 0, 0.35) inset;*/
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
    border-radius: 8%;
}

.nav-container-categorias{
    display: flex;
    gap: 30px;
}

.nav-container-usuario{
    display: flex;
    gap: 1.5rem;
}

.icon{
    font-size: 2rem;}
    /*background-color: #FFD700;*/

.bi{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.bi:hover{
    color: #d4ebde;
}

.categorias{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-style: normal;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), color 0.5s ease;
}
.categorias:hover{
    transform: scale(1.2);
    color: rgb(100, 109, 81)
}
.categorias.active{
    color: rgb(100, 109, 81);
    font-size: 1.5rem;
}