.nav{
    width: 100%;
    position: fixed;
    
}

.nav-container{
    background: white;
    box-shadow: 0px 3px 5px 0px rgb(51, 50, 51, 0.75);
    padding: 1rem 0rem;
}

.nav-container-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 7.5rem;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-imagen{
    width: auto;
    height: 80px;
    max-height: 100%;
    border-radius: 20px;
}

.nav-container-categorias{
    display: flex;
    gap: 30px;
}

.nav-container-usuario{
    display: flex;
    gap: 1.3rem;
}

.icon{
    font-size: 1.5rem;
}
.categorias{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-style: normal;
}
.categorias:hover{
    text-decoration: underline;
}
.categorias.active{
    text-decoration: underline;
}